# Python cache fayllari
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/

# Database fayllari
db.sqlite3

# OS fayllari
.DS_Store       # macOS
Thumbs.db       # Windows

# IDE va editor fayllari
.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Log va temporary fayllar
*.log
*.tmp
